In [1]:
from utils import get_dataframes

In [2]:
training, training_info, test, test_info = get_dataframes()

Constructing list_of_mids...
Constructing list_of_recipients...
Constructing address book...
Add sender to test_info...

In [3]:
training[:5]

,sender,mids,list_of_mids,address_book,number_of_emails,number_of_recipients
0,karen.buckley@enron.com,158713 158697 200301 158679 278595 298162 2002...,"[158713, 158697, 200301, 158679, 278595, 29816...","{'jeremy.buss@enron.com': 1, 'sharon.hausinger...",156,540
1,amr.ibrahim@enron.com,215241 3437 215640 3506 191790 3517 3520 3562 ...,"[215241, 3437, 215640, 3506, 191790, 3517, 352...","{'howard.fromer@enron.com': 25, 'robert.neusta...",87,147
2,andrea.ring@enron.com,270705 270706 270707 270708 270709 270710 2707...,"[270705, 270706, 270707, 270708, 270709, 27071...","{'djunek@aeglobalmarkets.com': 1, 'jared.kaise...",124,57
3,sylvia.hu@enron.com,111444 111422 183084 111412 111347 110883 1105...,"[111444, 111422, 183084, 111412, 111347, 11088...","{'elizabeth.sager@enron.com': 8, 'kathy.siess@...",116,351
4,phillip.platter@enron.com,327074 327384 327385 264443 274124 274125 2741...,"[327074, 327384, 327385, 264443, 274124, 27412...","{'debra.davidson@enron.com': 1, 'diane.cutsfor...",83,61

In [87]:
training.sort_values(by="number_of_recipients", ascending=False)[:5]

,sender,mids,list_of_mids,address_book,number_of_emails,number_of_recipients
101,sally.beck@enron.com,368551 368552 368553 368554 368555 368556 3685...,"[368551, 368552, 368553, 368554, 368555, 36855...","{'elisabeth.mccabe@enron.com': 1, 'julissa.mar...",1426,1242
7,david.forster@enron.com,17976 17969 17967 17966 18142 17965 17955 1795...,"[17976, 17969, 17967, 17966, 18142, 17965, 179...","{'elisabeth.mccabe@enron.com': 1, 'metring@enr...",345,839
86,susan.scott@enron.com,115278 115276 115277 115275 115273 115274 1152...,"[115278, 115276, 115277, 115275, 115273, 11527...","{'awattslaw@earthlink.net': 2, 'cushnice@sce.c...",1625,816
83,sara.shackleton@enron.com,183029 183030 183031 183032 183033 183034 1830...,"[183029, 183030, 183031, 183032, 183033, 18303...","{'bob.butts@enron.com': 5, 'raicher@kmz.com': ...",4350,674
0,karen.buckley@enron.com,158713 158697 200301 158679 278595 298162 2002...,"[158713, 158697, 200301, 158679, 278595, 29816...","{'ace.roman@enron.com': 1, 'zachary.sampson@en...",156,540

In [4]:
training_info[:5]

,mid,date,body,recipients,list_of_recipients,sender
0,60,2000-07-25 08:14:00,Legal has been assessing the risks of doing bl...,robert.badeer@enron.com murray.o neil@enron.co...,"[robert.badeer@enron.com, neil@enron.com, tim....",104
1,66,2000-08-03 02:56:00,Attached is a spreadsheet to estimate export f...,kim.ward@enron.com robert.badeer@enron.com mur...,"[kim.ward@enron.com, robert.badeer@enron.com, ...",113
2,74,2000-08-15 05:37:00,Kevin/Bob: Here is a quick rundown on the cons...,robert.badeer@enron.com john.massey@enron.com ...,"[robert.badeer@enron.com, john.massey@enron.co...",49
3,80,2000-08-20 14:12:00,check this out and let everyone know what s up...,robert.badeer@enron.com jeff.richter@enron.com,"[robert.badeer@enron.com, jeff.richter@enron.com]",117
4,83,2000-08-22 08:17:00,Further to your letter to us (addressed to Mr....,pgillman@schiffhardin.com kamarlantes@calpx.co...,"[pgillman@schiffhardin.com, kamarlantes@calpx....",104

In [92]:
import operator
sender = 3
threshold = 1
sorted_receivers = sorted(training.address_book[sender].items(), key=operator.itemgetter(1), reverse=True)
sorted_receivers = [(k,v) for (k,v) in sorted_receivers if v > threshold]
print("Number of receivers with more than %d mail(s): %d" % (threshold, len(sorted_receivers)))
sorted_receivers = sorted_receivers[:50]
sorted_receivers

Number of receivers with more than 1 mail(s): 278

[('michelle.cash@enron.com', 63),
 ('kriste.sullivan@enron.com', 59),
 ('bonnie.white@enron.com', 55),
 ('rick.johnson@enron.com', 45),
 ('bonne.castellano@enron.com', 45),
 ('felecia.acevedo@enron.com', 41),
 ('scott.walker@enron.com', 41),
 ('gilda.parker@enron.com', 41),
 ('mecole.brown@enron.com', 31),
 ('james.derrick@enron.com', 30),
 ('david.nutt@enron.com', 28),
 ('sharon.butcher@enron.com', 23),
 ('rex.rogers@enron.com', 22),
 ('drew.fossum@enron.com', 22),
 ('jim.armogida@enron.com', 19),
 ('clement.abrams@enron.com', 19),
 ('katy.gottsponer@enron.com', 19),
 ('daniel.rogers@enron.com', 17),
 ('rita.bahner@enron.com', 17),
 ('mark.holsworth@enron.com', 16),
 ('rob.walls@enron.com', 16),
 ('kay.mann@enron.com', 16),
 ('susan.bulgawicz@enron.com', 15),
 ('colleen.raker@enron.com', 15),
 ('louis.soldano@enron.com', 15),
 ('jordan.mintz@enron.com', 15),
 ('jan.cooley@enron.com', 14),
 ('robert.vote@enron.com', 14),
 ('drew.lynch@enron.com', 13),
 ('lance.schuler-legal@enron.com', 13),
 ('gail.brownfeld@enron.com', 13),
 ('michelle.blaine@enron.com', 13),
 ('elaine.overturf@enron.com', 13),
 ('twanda.sweet@enron.com', 12),
 ('tana.jones@enron.com', 12),
 ('lizzette.palmer@enron.com', 12),
 ('e..haedicke@enron.com', 12),
 ('diane.goode@enron.com', 12),
 ('ann.ballard@enron.com', 11),
 ('majed.nachawati@enron.com', 11),
 ('kelly.higgason@enron.com', 11),
 ('elizabeth.linnell@enron.com', 10),
 ('robert.williams@enron.com', 10),
 ('frank.sayre@enron.com', 10),
 ('mark.e.taylor@enron.com', 10),
 ('cole.brown@enron.com', 10),
 ('michael.terraso@enron.com', 9),
 ('martha.braddy@enron.com', 9),
 ('eric.gillaspie@enron.com', 9),
 ('vicki.sharp@enron.com', 9)]

In [26]:
training.iloc[38].address_book

{'alex@pira.com': 77}

In [6]:
grouped_train = training_info.groupby("sender")
grouped_test = test_info.groupby("sender")

In [103]:
sender = 2
df_train = grouped_train.get_group(sender).reset_index()

from evaluation import split_train_test

training_info_t, training_info_v = split_train_test(df_train)
address_book = training.address_book[sender]
address_book

Splitting into train and test set...

{'anne.labbe@enron.com': 2,
 'ashu.tewari@enron.com': 1,
 'barbara.keen@enron.com': 1,
 'bdchitw@ppco.com': 1,
 'beverly.beaty@enron.com': 4,
 'brad.mckay@enron.com': 1,
 'chris.germany@enron.com': 1,
 'colleen.sullivan@enron.com': 1,
 'cphaugneland@duke-energy.com': 1,
 'craig.taylor@enron.com': 2,
 'dan.junek@enron.com': 2,
 'dana.jones@enron.com': 1,
 'dick.jenkins@enron.com': 1,
 'djunek@aeglobalmarkets.com': 1,
 'edward.terry@enron.com': 1,
 'elizabeth.hernandez@enron.com': 1,
 'ellen.wallumrod@enron.com': 1,
 'frank.davis@enron.com': 3,
 'gretchen.lotz@enron.com': 1,
 'janine.cashin@enron.com': 1,
 'jared.kaiser@enron.com': 2,
 'jeanie.slone@enron.com': 1,
 'joan.quick@enron.com': 1,
 'john.taylor@enron.com': 3,
 'judy.townsend@enron.com': 1,
 'karen.mcilvoy@enron.com': 9,
 'kathryn.bussell@enron.com': 1,
 'kimberly.brown@enron.com': 1,
 'l..hernandez@enron.com': 1,
 'laura.luce@enron.com': 1,
 'laura.pena@enron.com': 1,
 'mark.frevert@enron.com': 1,
 'michael.mousteiko@enron.com': 5,
 'michele.winckowski@enron.com': 20,
 'outlook.team@enron.com': 1,
 'peter.keavey@enron.com': 1,
 'priscilla.hamic@enron.com': 1,
 'rbanks@mariner-energy.com': 2,
 'richard.ring@enron.com': 22,
 'rjenkins13@aol.com': 1,
 'robin.barbe@enron.com': 2,
 'sandra.f.brawner@enron.com': 15,
 'sarah.mulholland@enron.com': 2,
 'schristianson@ceg.com': 1,
 'scott.goodell@enron.com': 1,
 'scott.hendrickson@enron.com': 1,
 'scott.neal@enron.com': 1,
 'sean.boyle@enron.com': 1,
 'stephanie.miller@enron.com': 1,
 'susan.jones@neg.pge.com': 3,
 'susan.pereira@enron.com': 1,
 'tammi.depaolis@enron.com': 1,
 'terri.fiandt@enron.com': 5,
 'tricia.spence@enron.com': 1,
 'valerie.curtis@enron.com': 1,
 'victor.lamadrid@enron.com': 2,
 'victoria.versen@enron.com': 1}

In [52]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [104]:
from feature_extraction import Word2VecFeatureExtractor
from multilabel import MultilabelClassifier

feature_extractor = Word2VecFeatureExtractor()
model = MultilabelClassifier(feature_extractor=feature_extractor)
model.fit(training_info_t)
pred_df = model.predict(training_info_v, address_book, debug=True)

**************************************************
['rjenkins13@aol.com']
[(1.0, 15, 39), (0.0, 22, 37), (0.0, 20, 32), (0.0, 9, 25), (0.0, 5, 49), (0.0, 5, 31), (0.0, 4, 4), (0.0, 3, 46), (0.0, 3, 23), (0.0, 3, 17)]
['sandra.f.brawner@enron.com' 'richard.ring@enron.com'
 'michele.winckowski@enron.com' 'karen.mcilvoy@enron.com'
 'terri.fiandt@enron.com' 'michael.mousteiko@enron.com'
 'beverly.beaty@enron.com' 'susan.jones@neg.pge.com'
 'john.taylor@enron.com' 'frank.davis@enron.com']
**************************************************
**************************************************
['michele.winckowski@enron.com']
[(0.0, 22, 37), (0.0, 20, 32), (0.0, 15, 39), (0.0, 9, 25), (0.0, 5, 49), (0.0, 5, 31), (0.0, 4, 4), (0.0, 3, 46), (0.0, 3, 23), (0.0, 3, 17)]
['richard.ring@enron.com' 'michele.winckowski@enron.com'
 'sandra.f.brawner@enron.com' 'karen.mcilvoy@enron.com'
 'terri.fiandt@enron.com' 'michael.mousteiko@enron.com'
 'beverly.beaty@enron.com' 'susan.jones@neg.pge.com'
 'john.taylor@enron.com' 'frank.davis@enron.com']
**************************************************
**************************************************
['scott.neal@enron.com']
[(1.0, 3, 23), (0.0, 22, 37), (0.0, 20, 32), (0.0, 15, 39), (0.0, 9, 25), (0.0, 5, 49), (0.0, 5, 31), (0.0, 4, 4), (0.0, 3, 46), (0.0, 3, 17)]
['john.taylor@enron.com' 'richard.ring@enron.com'
 'michele.winckowski@enron.com' 'sandra.f.brawner@enron.com'
 'karen.mcilvoy@enron.com' 'terri.fiandt@enron.com'
 'michael.mousteiko@enron.com' 'beverly.beaty@enron.com'
 'susan.jones@neg.pge.com' 'frank.davis@enron.com']
**************************************************
**************************************************
['terri.fiandt@enron.com']
[(1.0, 15, 39), (0.0, 22, 37), (0.0, 20, 32), (0.0, 9, 25), (0.0, 5, 49), (0.0, 5, 31), (0.0, 4, 4), (0.0, 3, 46), (0.0, 3, 23), (0.0, 3, 17)]
['sandra.f.brawner@enron.com' 'richard.ring@enron.com'
 'michele.winckowski@enron.com' 'karen.mcilvoy@enron.com'
 'terri.fiandt@enron.com' 'michael.mousteiko@enron.com'
 'beverly.beaty@enron.com' 'susan.jones@neg.pge.com'
 'john.taylor@enron.com' 'frank.davis@enron.com']
**************************************************
**************************************************
['rbanks@mariner-energy.com']
[(1.0, 2, 9), (0.66666666666666663, 15, 39), (0.0, 22, 37), (0.0, 20, 32), (0.0, 9, 25), (0.0, 5, 49), (0.0, 5, 31), (0.0, 4, 4), (0.0, 3, 46), (0.0, 3, 23)]
['craig.taylor@enron.com' 'sandra.f.brawner@enron.com'
 'richard.ring@enron.com' 'michele.winckowski@enron.com'
 'karen.mcilvoy@enron.com' 'terri.fiandt@enron.com'
 'michael.mousteiko@enron.com' 'beverly.beaty@enron.com'
 'susan.jones@neg.pge.com' 'john.taylor@enron.com']
**************************************************
**************************************************
['richard.ring@enron.com']
[(0.0, 22, 37), (0.0, 20, 32), (0.0, 15, 39), (0.0, 9, 25), (0.0, 5, 49), (0.0, 5, 31), (0.0, 4, 4), (0.0, 3, 46), (0.0, 3, 23), (0.0, 3, 17)]
['richard.ring@enron.com' 'michele.winckowski@enron.com'
 'sandra.f.brawner@enron.com' 'karen.mcilvoy@enron.com'
 'terri.fiandt@enron.com' 'michael.mousteiko@enron.com'
 'beverly.beaty@enron.com' 'susan.jones@neg.pge.com'
 'john.taylor@enron.com' 'frank.davis@enron.com']
**************************************************
**************************************************
['richard.ring@enron.com']
[(1.0, 15, 39), (1.0, 5, 31), (0.5, 9, 25), (0.5, 2, 9), (0.0, 22, 37), (0.0, 20, 32), (0.0, 5, 49), (0.0, 4, 4), (0.0, 3, 46), (0.0, 3, 23)]
['sandra.f.brawner@enron.com' 'michael.mousteiko@enron.com'
 'karen.mcilvoy@enron.com' 'craig.taylor@enron.com'
 'richard.ring@enron.com' 'michele.winckowski@enron.com'
 'terri.fiandt@enron.com' 'beverly.beaty@enron.com'
 'susan.jones@neg.pge.com' 'john.taylor@enron.com']
**************************************************
**************************************************
['terri.fiandt@enron.com']
[(1.0, 20, 32), (1.0, 3, 46), (1.0, 2, 10), (0.66666666666666663, 15, 39), (0.0, 22, 37), (0.0, 9, 25), (0.0, 5, 49), (0.0, 5, 31), (0.0, 4, 4), (0.0, 3, 23)]
['michele.winckowski@enron.com' 'susan.jones@neg.pge.com'
 'dan.junek@enron.com' 'sandra.f.brawner@enron.com'
 'richard.ring@enron.com' 'karen.mcilvoy@enron.com'
 'terri.fiandt@enron.com' 'michael.mousteiko@enron.com'
 'beverly.beaty@enron.com' 'john.taylor@enron.com']
**************************************************
**************************************************
['michele.winckowski@enron.com']
[(1.0, 20, 32), (0.0, 22, 37), (0.0, 15, 39), (0.0, 9, 25), (0.0, 5, 49), (0.0, 5, 31), (0.0, 4, 4), (0.0, 3, 46), (0.0, 3, 23), (0.0, 3, 17)]
['michele.winckowski@enron.com' 'richard.ring@enron.com'
 'sandra.f.brawner@enron.com' 'karen.mcilvoy@enron.com'
 'terri.fiandt@enron.com' 'michael.mousteiko@enron.com'
 'beverly.beaty@enron.com' 'susan.jones@neg.pge.com'
 'john.taylor@enron.com' 'frank.davis@enron.com']
**************************************************
**************************************************
['richard.ring@enron.com']
[(1.0, 2, 9), (0.0, 22, 37), (0.0, 20, 32), (0.0, 15, 39), (0.0, 9, 25), (0.0, 5, 49), (0.0, 5, 31), (0.0, 4, 4), (0.0, 3, 46), (0.0, 3, 23)]
['craig.taylor@enron.com' 'richard.ring@enron.com'
 'michele.winckowski@enron.com' 'sandra.f.brawner@enron.com'
 'karen.mcilvoy@enron.com' 'terri.fiandt@enron.com'
 'michael.mousteiko@enron.com' 'beverly.beaty@enron.com'
 'susan.jones@neg.pge.com' 'john.taylor@enron.com']
**************************************************
**************************************************
['michele.winckowski@enron.com']
[(1.0, 15, 39), (0.0, 22, 37), (0.0, 20, 32), (0.0, 9, 25), (0.0, 5, 49), (0.0, 5, 31), (0.0, 4, 4), (0.0, 3, 46), (0.0, 3, 23), (0.0, 3, 17)]
['sandra.f.brawner@enron.com' 'richard.ring@enron.com'
 'michele.winckowski@enron.com' 'karen.mcilvoy@enron.com'
 'terri.fiandt@enron.com' 'michael.mousteiko@enron.com'
 'beverly.beaty@enron.com' 'susan.jones@neg.pge.com'
 'john.taylor@enron.com' 'frank.davis@enron.com']
**************************************************
**************************************************
['laura.luce@enron.com']
[(0.66666666666666663, 15, 39), (0.0, 22, 37), (0.0, 20, 32), (0.0, 9, 25), (0.0, 5, 49), (0.0, 5, 31), (0.0, 4, 4), (0.0, 3, 46), (0.0, 3, 23), (0.0, 3, 17)]
['sandra.f.brawner@enron.com' 'richard.ring@enron.com'
 'michele.winckowski@enron.com' 'karen.mcilvoy@enron.com'
 'terri.fiandt@enron.com' 'michael.mousteiko@enron.com'
 'beverly.beaty@enron.com' 'susan.jones@neg.pge.com'
 'john.taylor@enron.com' 'frank.davis@enron.com']
**************************************************
**************************************************
['sandra.f.brawner@enron.com']
[(1.0, 15, 39), (0.33333333333333331, 9, 25), (0.0, 22, 37), (0.0, 20, 32), (0.0, 5, 49), (0.0, 5, 31), (0.0, 4, 4), (0.0, 3, 46), (0.0, 3, 23), (0.0, 3, 17)]
['sandra.f.brawner@enron.com' 'karen.mcilvoy@enron.com'
 'richard.ring@enron.com' 'michele.winckowski@enron.com'
 'terri.fiandt@enron.com' 'michael.mousteiko@enron.com'
 'beverly.beaty@enron.com' 'susan.jones@neg.pge.com'
 'john.taylor@enron.com' 'frank.davis@enron.com']
**************************************************

In [105]:
from evaluation import get_validation_score
score = get_validation_score(training_info_v, pred_df)
print(score)

Calculating the score...
0.375091575092